body{
font-family: Arial;
margin:0;
background:#f8f8f8;
text-align:center;
}

header{
background:#ff5733;
color:white;
padding:20px;
}

nav{
background:#333;
padding:10px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

.hero-img{
width:90%;
max-width:1000px;
border-radius:10px;
margin-top:20px;
}

.menu{
display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;
margin:40px;
}

.card{
background:white;
width:260px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
padding:15px;
}

.card img{
width:100%;
border-radius:10px;
}

button{
background:#ff5733;
color:white;
padding:10px 20px;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#e64a19;
}
